name: buildtest

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  continuous-integration:
    runs-on: ubuntu-latest

    services:
      mysql-service:
        image: mariadb:10.6
        env:
          MYSQL_DATABASE: harubiru
          MYSQL_USER: harubiru
          MYSQL_PASSWORD: ${{ secrets.HARUBIRU_DB_PASSWORD }}
          MYSQL_ROOT_PASSWORD: ${{ secrets.HARUBIRU_DB_PASSWORD }}
        ports:
          - 33306:3306
        options: >-
          --health-cmd="mysqladmin ping"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3  

    steps:
    - uses: actions/checkout@v2
    - name: Copy .env
      run: php -r "file_exists('.env') || copy('.env.ci', '.env');"
    - name: Check composer version
      run: composer --version
    - name: Update Composer lockfile
      run: composer update
    - name: Install Dependencies
      run: composer install --no-ansi --no-interaction --no-scripts --no-suggest --no-progress --prefer-dist
    - name: Generate key
      run: php artisan key:generate
    - name: Directory Permissions
      run: chmod -R 777 storage bootstrap/cache
    - name: Storage Link
      run: php artisan storage:link
    - name: Dump Autoload
      run: composer dump-autoload
    - name: Execute tests
      env:
        DB_CONNECTION: mysql
        DB_DATABASE: harubiru
        DB_PORT: 33306
        DB_USER: harubiru
        DB_PASSWORD: ${{ secrets.HARUBIRU_DB_PASSWORD }}
      run: vendor/bin/phpunit
